// packages/theme/src/_borders.scss
$border-radius-base: 3px;
$border-radius-sm: 2px;
$border-radius-md: 6px;
$border-radius-lg: 8px;
$border-radius-xl: 12px;
$border-radius-xxl: 14px;
$border-color: #e6e6e6;
$border-color-light: #f2f2f2;
$border-width-base: 1px; 